-- CreateTable
CREATE TABLE `class` (
    `class_id` INTEGER NOT NULL AUTO_INCREMENT,
    `name` VARCHAR(50) NOT NULL,
    `room_number` VARCHAR(20) NULL,
    `subject_code` VARCHAR(20) NOT NULL,
    `capacity` INTEGER NOT NULL,
    `enrolled_count` INTEGER NULL DEFAULT 0,

    INDEX `fk_class_subject`(`subject_code`),
    PRIMARY KEY (`class_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `enrolled` (
    `student_code` VARCHAR(20) NOT NULL,
    `class_id` INTEGER NOT NULL,
    `enrollment_date` TIMESTAMP(0) NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `fk_enrolled_class`(`class_id`),
    PRIMARY KEY (`student_code`, `class_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `students` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `name` VARCHAR(100) NOT NULL,
    `email` VARCHAR(100) NOT NULL,
    `student_code` VARCHAR(20) NOT NULL,
    `major` VARCHAR(100) NULL,
    `phone` VARCHAR(20) NULL,
    `created_at` TIMESTAMP(0) NULL DEFAULT CURRENT_TIMESTAMP(0),

    UNIQUE INDEX `email`(`email`),
    UNIQUE INDEX `student_code`(`student_code`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `subjects` (
    `name` VARCHAR(100) NOT NULL,
    `subject_code` VARCHAR(20) NOT NULL,
    `credit` INTEGER NOT NULL,
    `status` ENUM('active', 'inactive') NULL DEFAULT 'inactive',
    `created_at` TIMESTAMP(0) NULL DEFAULT CURRENT_TIMESTAMP(0),

    PRIMARY KEY (`subject_code`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- AddForeignKey
ALTER TABLE `class` ADD CONSTRAINT `fk_class_subject` FOREIGN KEY (`subject_code`) REFERENCES `subjects`(`subject_code`) ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `enrolled` ADD CONSTRAINT `fk_enrolled_class` FOREIGN KEY (`class_id`) REFERENCES `class`(`class_id`) ON DELETE RESTRICT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE `enrolled` ADD CONSTRAINT `fk_enrolled_student` FOREIGN KEY (`student_code`) REFERENCES `students`(`student_code`) ON DELETE CASCADE ON UPDATE NO ACTION;

